.dart_tool/
.idea/
android/
build/
ios/
linux/
macos/
test/
web/
windows/
.metadata
mpc_frontend.iml
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies

!android/app/src/main/AndroidManifest.xml
!android/app/build.gradle
!web/index.html
